body {
    margin: 0;
    padding: 0;
}

div img {
    background-color: rgb(204, 204, 204);
    border: 1px solid rgb(204, 204, 204);
    border-radius: 15px;
}

div p {
    color: gray;
    font-size: 12pt;
    margin: 0;
    padding-left: 10px;
}

div h1 {
    padding-left: 10px;
    font-size: 15pt;
    margin: 0;
}

div h2 {
    margin-left: 10px;
    font-size: 10pt;
    padding: 3px 15px;
    border-radius: 5px;
    color: white;
}

div h2:first-child {
    margin-left: 0;
}

header h1 {
    text-align: center;
}

main {
    margin: 100px;
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

button {
    padding: 2% 5%;
    border: none;
    border-radius: 10%;
}

.pokemon {
    margin: 2em;
}

.abilities {
    display: flex;
}

/* types */

#grass {
    background-color: #27cb50;
}

#poison {
    background-color: #9b69da;

}

#fire {
    background-color: #fd4d5a;
}

#flying {
    background-color: #93b1c5;
}

#water {
    background-color: #85a8fc;
}

#bug {
    background-color: #3b9753;
}

#dark {
    background-color: #5a5879;
}

#dragon {
    background-color: #63cad9;
}

#electric {
    background-color: #fafb72;
}

#fairy {
    background-color: #ea1369;
}

#fighting {
    background-color: #ef6139;
}

#ghost {
    background-color: #906791;
}

#ground {
    background-color: #674826;
}

#ice {
    background-color: #d8eef6;
}

#normal {
    background-color: #cb98a7;
}

#psychic {
    background-color: #f61d91;
}

#rock {
    background-color: #883d20;
}

#steel {
    background-color: #43be92;
}